<div class="grid grid--full-height grid--vertical grid--justify-center">
    <h1 class="home__title">Welcome to Cryptopad</h1>
    <p class="home__subtitle">
        Create and share collaborative encrypted documents.
        <span style="display: block;">Ideal for sharing passwords, credit card numbers and other sensitive information.</span>
    </p>
    <button class="home__button" (click)=createNewCryptopad()>Create new Cryptopad</button>
    <p>{{ this.consoleMessage }}</p>
</div>

