<div *ngIf="isStateDone()">
    <div class="pad">
        <div class="pad__toolbar">
            <div>
                <span class="pad__title"><span class="pad__super-title">Cryptopad</span>{{ url }}</span>
            </div>
            <div>
            </div>
        </div>
        <textarea class="pad__editor" autofocus [(ngModel)]='pad.content' (keyup)='updateContent()' placeholder='Start typing...'></textarea>
    </div>
</div>

<div class="pad__message-container" *ngIf="isStateError()">
    <p>Pad was not found.</p>
</div>
<div class="pad__message-container" *ngIf="isStateLoading()">
    <p><i class="fa fa-fw fa-spin fa-cog" aria-hidden="true"></i>Loading...</p>
</div>

