/* You can add global styles to this file, and also import other style files */
$background-color: #252526;
$text-color: #D2D2D9;
$primary-color: #6D8C3F;

html {
    padding: 0rem;
    margin: 0rem;
}

body {
    font-family: sans-serif;
    background-color: $background-color;
    color: $text-color;
    font-size: 14px;
    padding: 0rem;
    margin: 0rem;
}

* {
    box-sizing: border-box;
}

.grid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

.grid--full-height {
    min-height: 100vh;
}

.grid--vertical {
    flex-flow: column nowrap;
}

.grid--justify-center {
    justify-content: center;
}